*{
    padding: 0;
    margin: 0;
}

.body{

    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
    background: #1b2631;
    align-items: center;
}


/* Меню страницы ------------------------------- */
.header{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height:fit-content;
    background-color: #1b2631;

}

.header_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height:70px;
    /* background-color: blanchedalmond; */
}

.double-border-button {
    font-size: 100%;
    text-decoration: none;
    /* display: inline-block; */
    padding: 1% 2%;
    position: relative;
    border: 2px solid #f1c40f;
    color: #f1c40f;
    /* font-family: 'Montserrat', sans-serif; */
    transition: .4s;
  }
  .double-border-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .double-border-button:hover:after {
    border-color: #f1c40f;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }

  .header_name{
    background-color:#f1c40f1e;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15%;
    height:48px;
  }

  .header_name-text1{
      color: #f1c40f;
      font-size:140%;
      margin-right: 2%;
  }
  .header_name-text2{
    color: #f1c40f;
    font-size:140%;
}

/* Основная часть страницы ------------------------------- */

.body_main{
    margin-top: 7.5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    background-color:#96907a15;
    width: 60%;
    height: fit-content;
}

.body_main_block1-img{
    width: 15%;
}

.body_main_block1{
    display: flex;
    width: 100%;
    height:fit-content;
    justify-content:space-between;
}

.body_main_block1-text{
    /* color: rgba(255, 235, 205, 0.514); */
    display: flex;
    align-items: flex-end;
    margin-left: 4%;
    font-size: 570%;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    color:#fcf3cf;
}

.body_main_block2{
    margin-top: 25px;
    padding: 4%;
    color:#fcf3cf;
    font-size: 18px;
}

.body_main_block3{
    padding: 4%;
    color:#fcf3cf;
    font-size: 18px;
}

.body_main_block4,
.body_main_block6,
.body_main_block8,
.body_main_block10{
    margin-top: 2%;
    padding: 4%;
    color:#fcf3cf;
    font-size: 30px;
}

.body_main_block5,
.body_main_block7,
.body_main_block9{
    padding: 10px 20px 20px 20px;
    color:#fcf3cf;
    font-size: 18px;
    display: flex;
}

.body_main_block5-img{
    width: 290px;
}

.body_main_block5-list{
    padding-left: 45px;
    font-size: 16px;
}

.body_main_block9-list{
    padding-left: 4%;
}

.body_main_block7-img{
    width: 950px;
}

.body_main_block7-list{
    padding-left: 4%;
    font-size: 16px;
}

.body_main_block11,
.body_main_block12{

    padding: 20px;
    color:#fcf3cf;
    font-size: 18px;
}

/* Подвал страницы ------------------------------- */

.footer{
    color: #f1c40f;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height:120px;
    background-color: #1a2a3a;
}

.footer__block__elem1,
.footer__block__elem2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
}

.footer__block-symbol{
    font-size: 20px;
    padding-left: 6px;
    padding-right: 6px;
}
